*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    
    background-color: #f1f3f4;
    font-family: 'sans-serif';
}
.wrap{
    width: 380px;
    height: 480px;
    position: relative;
    margin: 6% auto;
    /* margin-top: 50px; */
    padding:5px;
    font-family: sans-serif;
    background: #79bac1;
    border-radius: 5px;
    text-align: center;

}
.heading{
    padding: 15px;
    text-align: center;
    font-size: 30px;
}
/* .wrap h2{
    padding: 15px;
    font-size: 2em;
    text-align: center;
} */
/* .button-box{
    width: 220px;
    height: 50px;
    margin-left: 70px;
    margin-right: 50px;
    margin-top: 25px;
    position: relative;
    /* box-shadow: 0 0 20px 9px #2a7886; */
    /* border-radius: 30px;
    text-align: center;
    
    
}
.toggle-btn{
    padding: 20px 20px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
    
}  */
/* #btn{
    top:0;
    left:0;
    position: absolute;
    width: 110px;
    height: 100%;
    background: #2a7886;
    border-radius: 30px;
    transition: 0.5s;

} */
.text{
    margin-top: 5px;
    padding: 10px;
    text-align: center;
    /* color: #512b58; */
}
.gmail{
    text-align: center;
    padding:10px;
}
.go{
    width:90%;
    padding: 10px;
    box-sizing: border-box;
    border: none; 
    
    border-radius: 30px;
    font-weight: bold;
    /* text-decoration: none; */
    
    /* font-weight: bold; */
    background: #ffffff;
    text-align: center;
    
    
}
img{
    width: 30px;
    margin-top: 5px;
    padding: 2px;
}

form{
    margin-top: 30px;
}
.form-grp{
    margin-left:  20px;
    margin-right: 20px;
    width: 83%;
    border-radius: 10px solid;
}
.input-field{
    width:100%;
    padding: 10px 5px;
    margin: 15px 10px;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid #999999;
    outline: none;
    
}
.submit-btn{
    width: 42%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    background: #2a7886;
    border: 0;
    outline: none;
    border-radius: 30px;
}
/* .check-box{
    margin: 30px 10px 30px 0;
}
span{
    font-size: 14px;
    /* color: #512b58; #2a7886 */      

